:root {
    --white: #fff;
    --maincolor: #0d6efd;
    --maincolor2: #1060d8;
}

.contenttext a {
    text-decoration: none;
    font-size: large;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #1b2029;
    color: white;
    overflow-x: hidden;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Wix Madefor Text', sans-serif; */
    scroll-behavior: smooth;
}

.btn.btn-primary {
    background-color: var(--maincolor) !important;
}

.btn.btn-primary:hover {
    background-color: var(--maincolor2) !important;
}

* {
    list-style: none;
    text-decoration: none;
}

#header {
    position: fixed;
    width: 100%;
    z-index: 100;
    background: #1b2029;
    height: 100px;
    top: 0;
}

.navbar-links {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.navbar-links li {
    padding: 18px !important;
}

.navbar-links li a {
    text-decoration: none;
    color: #fff;
    padding: 8px 0px;
}

.bordrEffct {
    position: relative;
}

.bordrEffct::after {
    content: "";
    height: 2px;
    width: 0;
    position: absolute;
    background-color: var(--maincolor);
    bottom: 0px;
    left: 0px;
    transition: 0.3s all;
}

.bordrEffct:hover.bordrEffct::after {
    width: 100%;
}

.fa-bars {
    display: none;
}


/* .logo {
padding: 24px;
} */

span {
    color: var(--maincolor);
}

.lname {
    background-color: var(--maincolor);
    color: var(--white);
    padding: 0 4px;
}

.custom-height {
    height: 100px;
    align-items: center;
}

.navbar-toggler {
    margin-left: auto;
}

.navbar-toggler:focus {
    box-shadow: unset;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='3' y1='12' x2='21' y2='12'%3E%3C/line%3E%3Cline x1='3' y1='6' x2='21' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='18' x2='21' y2='18'%3E%3C/line%3E%3C/svg%3E%0A");
    transition: 0.5s all;
}

.navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 24 24' fill='none' stroke='%230d6efd' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='3' y1='12' x2='21' y2='12'%3E%3C/line%3E%3Cline x1='3' y1='6' x2='21' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='18' x2='21' y2='18'%3E%3C/line%3E%3C/svg%3E ");
}

.navbar-toggler1 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E%0A");
    transition: 0.3s all;
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
}

.navbar-toggler1 .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 24 24' fill='none' stroke='%230d6efd' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E ");
}

button.navbar-toggler1 {
    border: none;
    background: none;
}

.navbar-collapse.show#navbarNav::before {
    content: "";
    top: 0px;
    height: 100%;
    width: 100%;
    position: fixed;
    background-color: rgba(20, 20, 20, 0.676);
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 4;
}


/* -------------------Hero Section------------------- */

.content {
    /* padding: 24px; */
    align-items: center;
}

.hero-section {
    margin-top: 68px;
}

.content h1 {
    color: var(--maincolor);
    font-family: unset;
    font-weight: revert;
}

.sect_padding {
    /* align-items: center; */
    padding: 80px 0;
}

.Aboutme {
    background-color: #2c2e3c;
}

.aboutimg {
    border-radius: 0px !important;
}

.mediaicons {
    width: 10px;
}

.Dppic,
.aboutimg {
    width: 300px;
    border-radius: 50%;
    transition: 0.4s all;
    border: 4px solid var(--maincolor);
}

.Dppic:hover,
.aboutimg:hover {
    box-shadow: 3px 8px 20px 2px #fff9f938;
    transform: scale(1.06);
}

.socialmedia {
    display: flex;
    list-style: none;
    padding: 0px;
    margin-top: 15px;
    gap: 5px;
}

.socialmedia li a .fa-brands {
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
}

.navbar-collapse.show .mobileNav {
    right: 0px;
}

@media (max-width:768px) {
    .socialmedia {
        justify-content: center;
    }
    .Dppic,
    .aboutimg {
        margin-top: 20px;
    }
}

@media (max-width:992px) {
    .Dppic,
    .aboutimg {
        size: 250px;
    }
    .mobileNav {
        flex-direction: column;
        transition: 0.4s all;
        position: fixed;
        top: 0px;
        right: -50vw;
        height: 100vh;
        width: 35vw;
        background-color: #1b1a1a;
        justify-content: center;
        z-index: 5;
    }
    .navbar-links li {
        padding: 20px 25px;
        text-align: center;
    }
}

@media (max-width:575px) {
    .mobileNav {
        width: 50vw;
    }
}

@media (max-width:991px) {
    .navbar-toggler1 .navbar-toggler-icon {
        display: block;
    }
}

@media (min-width:991px) {
    .navbar-collapse.show#navbarNav::before {
        display: none;
    }
}


/* ----------------------myskills------------------------- */

.row {
    justify-content: center;
}

.my-Services {
    background-color: #2c2e3c;
}

.card {
    background-color: #20232f;
    transition: 0.4s all;
    align-items: center;
    align-content: center;
    padding: 25px;
    z-index: 1;
    width: 100%;
}

.card:hover {
    border: 1px solid var(--maincolor);
    box-shadow: #0d6efd;
}

.card img {
    width: 50px;
}

.card-text {
    color: var(--white);
    text-align: center;
}

.card h6 {
    color: var(--white);
    margin-top: 20px;
}

.project {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    padding: 0px !important;
}

.project-card-img {
    width: 100% !important;
    height: 220px;
    object-fit: cover;
}

.uptext {
    background-color: rgba(0, 0, 0, 0.407);
    position: absolute;
    top: 100%;
    height: 100%;
    transition: 0.3s all;
    width: 100%;
}

.project:hover .card-body {
    top: 0;
}

.services {
    min-height: 301px !important;
}

.project .card-text {
    margin-top: 65px;
}

input {
    background-color: #1a1f28 !important;
    border: none;
}

input:placeholder {
    color: var(--white);
}

.sendmsg {
    margin-top: 20px;
}

input {
    background-color: #1b2029 !important;
    color: var(--white) !important;
    border: none !important;
    padding: 15px 12px !important;
}

input:focus {
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, 0.25) !important;
}

input::placeholder {
    color: #fff !important
}

#messageInputBox {
    background-color: #1b2029 !important;
    border: 0px;
    box-shadow: var(--white) !important;
}

#messageInputBox:focus {
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, 0.25) !important;
}

#messageInputBox::placeholder,
#messageInputBox {
    padding: 15px 12px !important;
    color: var(--white) !important;
}

.cntctme {
    background-color: #2c2e3c !important;
}

.form-control {
    background-color: #1b2029 !important;
}


/* -------------------------footer--------------------------- */

.fotter {
    padding: 40px 0;
}

.goup {
    position: fixed;
    bottom: 40px;
    right: 30px;
    display: none;
    z-index: 100;
}


/* -----------------------------Model----------------------------------  */

.modal-content {
    background-color: #2c2e3c;
}

.productimg1 {
    width: 100%;
}

.modal-header {
    border-bottom: unset;
    position: relative;
    padding: 0;
}

.btn-close {
    position: absolute;
    right: -7px;
    top: -7px;
    color: #fff !important;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='64' height='64' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='15' y1='9' x2='9' y2='15'%3E%3C/line%3E%3Cline x1='9' y1='9' x2='15' y2='15'%3E%3C/line%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
}

.uptext p {
    position: absolute;
    bottom: 0;
    left: 36%;
}

.contenttext {
    margin-top: 10px;
}

.builtwith {
    color: #ffffff !important;
    font-size: large;
}

.productimg {
    width: 100%;
}