:root {
    --white: #fff;
    --maincolor: #0d6efd;
}

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #1b2029;
    color: white;
    overflow-x: hidden;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */
    /* font-family: 'Wix Madefor Text', sans-serif; */
}

* {
    list-style: none;
    text-decoration: none;
}

.navbar-links {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
}

.navbar-links li {
    padding: 0px 24px;
}

.navbar-links li a {
    text-decoration: none;
    color: #fff;
    padding: 8px 0px;
}

.bordrEffct {
    position: relative;
}

.bordrEffct::after {
    content: "";
    height: 2px;
    width: 0;
    position: absolute;
    background-color: var(--maincolor);
    bottom: 0px;
    left: 0px;
    transition: 0.3s all;
}

.bordrEffct:hover.bordrEffct::after {
    width: 100%;
}

.fa-bars {
    display: none;
}


/* .logo {
padding: 24px;
} */

.lname {
    background-color: var(--maincolor);
}

.custom-height {
    height: 100px;
    align-items: center;
}

.navbar-toggler {
    margin-left: auto;
}

.navbar-toggler:focus {
    box-shadow: unset;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='3' y1='12' x2='21' y2='12'%3E%3C/line%3E%3Cline x1='3' y1='6' x2='21' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='18' x2='21' y2='18'%3E%3C/line%3E%3C/svg%3E%0A");
    transition: 0.5s all;
}

.navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 24 24' fill='none' stroke='%230d6efd' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='3' y1='12' x2='21' y2='12'%3E%3C/line%3E%3Cline x1='3' y1='6' x2='21' y2='6'%3E%3C/line%3E%3Cline x1='3' y1='18' x2='21' y2='18'%3E%3C/line%3E%3C/svg%3E ");
}

.navbar-toggler1 .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 24 24' fill='none' stroke='%23ffffff' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E%0A");
    transition: 0.3s all;
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
}

.navbar-toggler1 .navbar-toggler-icon:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='34' height='34' viewBox='0 0 24 24' fill='none' stroke='%230d6efd' stroke-width='2.5' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='18' y1='6' x2='6' y2='18'%3E%3C/line%3E%3Cline x1='6' y1='6' x2='18' y2='18'%3E%3C/line%3E%3C/svg%3E ");
}

button.navbar-toggler1 {
    border: none;
    background: none;
}


/* -------------------Hero Section------------------- */

.content {
    /* padding: 24px; */
    align-items: center;
}

.content h1 {
    color: var(--maincolor);
    font-family: unset;
    font-weight: revert;
}

.sect_padding {
    /* align-items: center; */
    padding: 80px 0;
}

.Aboutme {
    background-color: #2c2e3c;
}

.aboutimg {
    border-radius: 0px !important;
}

.mediaicons {
    width: 10px;
}

.Dppic,
.aboutimg {
    width: 300px;
    border-radius: 50%;
    transition: 0.4s all;
    border: 4px solid var(--maincolor);
}

.Dppic:hover,
.aboutimg:hover {
    box-shadow: 3px 8px 20px 2px #fff9f938;
    transform: scale(1.06);
}

.socialmedia {
    display: flex;
    list-style: none;
    padding: 0px;
    margin-top: 15px;
    gap: 5px;
}

.socialmedia li a .fa-brands {
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
}

.navbar-collapse.show .mobileNav {
    right: 0px;
}

@media (max-width:768px) {
    .socialmedia {
        justify-content: center;
    }
    .Dppic,
    .aboutimg {
        margin-top: 20px;
    }
}

@media (max-width:992px) {
    .Dppic,
    .aboutimg {
        size: 250px;
    }
    .mobileNav {
        flex-direction: column;
        transition: 0.4s all;
        position: fixed;
        top: 0px;
        right: -50vw;
        height: 100vh;
        width: 35vw;
        background-color: #1b1a1a;
        justify-content: center;
    }
    .navbar-links li {
        padding: 20px 25px;
        text-align: center;
    }
}

@media (max-width:575px) {
    .mobileNav {
        width: 50vw;
    }
}

@media (max-width:991px) {
    .navbar-toggler1 .navbar-toggler-icon {
        display: block;
    }
}